@import 'sass-bootstrap/lib/bootstrap';

.border-5 {
    border: 1px solid black;
    border-radius:5px
}

.flex {
    display: flex;
}

.btn {
    font-size: 1vw !important;
}

.fz-1 {
    font-size: 1vw;
}

.fz-15 {
    font-size: 1.5vw;
}

.fz-2 {
    font-size: 2vw;
}

.fz-25 {
    font-size: 2.5vw;
}

.fz-3 {
    font-size: 3vw;
}

.fz-35 {
    font-size: 3.5vw;
}

.fz-4 {
    font-size: 4vw;
}

.fz-45 {
    font-size: 4.5vw;
}

.fz-5 {
    font-size: 5vw;
}


.m-l-vs {
	margin-left: 5px;
}

.m-l-s {
	margin-left: 10px;
}

.m-l {
	margin-left: 15px;
}

.m-l-vb {
    margin-left: 50px;
}

.m-r {
	margin-right: 15px;
}

.m-t {
	margin-top: 15px;
}

.m-t-b {
	margin-top: 30px;
}

.m-t-vb {
    margin-top: 50px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 400px;
}

.p-l {
    padding-left: 15px;
}

.p-t {
    padding-top: 15px;
}


.no-m-r {
    margin-right: -15px;
}

.no-m-l {
    margin-left: -15px;
}

.p-r {
    padding-right: 15px;
}

.p-b {
    padding-bottom: 15px;
}
.oo_btn {
	&:hover {
		color: lightgreen;
		cursor: pointer;
		background-color: green;
	}
}

#octopus_score {
    margin: 50px auto 0px;
    width: 250px;
    font-size: 18px;
    font-weight: 200;
    color: inherit;
    background-color: rgb(142, 173, 201);
	border: 1px solid black;
    border-radius: 100px 100px 20px 20px;
    margin-bottom: 30px;
    line-height: 30px;
    padding: 20px 30px 15px;

    .check {
		border: 2px solid;
		border-radius: 50px;
		padding: 2px 8px;
    }
}

.blink {
	-webkit-animation: blink 3s step-end infinite;
	animation: blink 3s step-end infinite;
}
@-webkit-keyframes blink { 50% { visibility: hidden; }}
@keyframes blink { 50% { visibility: hidden; }}
