<div class="form-group">
    <label for="form_p1_name">Spieler 1</label>
    <div class="flex">
        <input type="text" class="form-control" id="form_p1_name">
        <div class="btn btn-default"><i class="fa fa-globe" style="font-size: 17px;"></i></div>
    </div>
</div>

<div class="form-group">
    <label for="form__p2_name">Spieler 2</label>
    <div class="flex">
        <input type="text" class="form-control" id="form__p2_name">
        <div class="btn btn-default"><i class="fa fa-globe" style="font-size: 17px;"></i></div>
    </div>
</div>
