<div class="form-group">
    <label for="form_home_teamname">Heim</label>
    <div class="flex">
        <input type="text" class="form-control" id="form_home_teamname" placeholder="Teamname">
        <div class="btn-home-selectpicker btn btn-default"><i class="fa fa-globe" style="font-size: 17px;"></i></div>
    </div>
    <div class="p1_toggle"  style="display:none">
    	<select class="w-100 form_home_selectpicker"></select>
	</div>
</div>

<div class="form-group">
    <label for="form__guest_teamname">Gast</label>
    <div class="flex">
        <input type="text" class="form-control" id="form_guest_teamname" placeholder="Teamname">
        <div class="btn-guest-selectpicker btn btn-default"><i class="fa fa-globe" style="font-size: 17px;"></i></div>
    </div>
    <div class="p2_toggle"  style="display:none">
    	<select class="w-100 form_guest_selectpicker"></select>
    </div>
</div>

<div class="form-group">
    <label for="form__description">Beschreibung</label>
    <div class="flex">
        <input type="text" class="form-control" id="form__description" placeholder="z.B. Liganame, Turnier 1/2 Finale, Just for Fun, etc..">
    </div>
</div>

<div class="form-group">
    <label for="form__start">Startzeit</label>
    <div class="flex">
        <input type="text" class="form-control" id="form__start" placeholder="z.B. 20:00">
    </div>
</div>

<div class="form-group saved-encounter-group">
    <label for="form__saved_selectpicker">Vorhandene Begnung</label>
    <div>
        <select class="w-100 form__saved_selectpicker"></select>
    </div>
</div>
