
<div class="form-group">
    <label for="form_p1">{{p1Name}}</label>
    <input maxlength="3" type="text" class="form-control" id="form_p1" value="0">
</div>

<div class="form-group">
    <label for="form_p2">{{p2Name}}</label>
    <input maxlength="3" type="text" class="form-control" id="form_p2" value="0">
</div>
