<div class="form-group">
    <label for="form_username">Benutzername</label>
    <input type="text" class="form-control" id="form_username">
</div>

<div class="form-group">
    <label for="form_pw">Passwort</label>
    <input type="password" class="form-control" id="form_pw">
</div>
