<div class="m-t alert-default">

	<div>
		<span class="c-p btn-start-encouter-match btn-default border-5" style="padding: 3px 8px;">Start</span>
        <span class="c-p btn-dublicate-encouter-match btn-default border-5" style="padding: 3px 8px;float:right;opacity0.6">
			<i class="fa  fa-plus-circle"></i>
		</span>
        <span class="c-p btn-end-encouter-match btn-success border-5" style="display:none;padding: 3px 8px;">
			<i class="fa fa-check-circle-o"></i>
		</span>
	</div>

	<div style="text-align: center;">
		<span class="directEdit">{{player1.name}}</span>
		<span class="m-l m-r">vs.</span>
		<span class="directEdit">{{player2.name}}</span>
	</div>

	<div style="text-align: center;">
		<strong>
			<span class="directEdit">{{player1.legs}}</span>
			<span class="m-l m-r">:</span>
			<span class="directEdit">{{player2.legs}}</span>
		</strong>
	</div>

</div>
