<div class="clearfix" style="width:100%">
	<div id="mmStartside" class="small mm-btn" style="float:left">Startseite</div>
	<div id="mmDartscorer" class="small mm-btn" style="float:left">Dart-Scorer</div>

	<div id="mmRegister" class="small mm-btn" style="float:right">Registrieren</div>
    <div id="mmLogout" class="small mm-btn" style="display:none;float:right">Abmelden</div>
    <div id="mmPlayerProfile" class="small mm-btn" style="display:none;float:right">Profil-Seite</div>
    <div id="mmLogin" class="small mm-btn" style="float:right">Anmelden</div>
    <div id="mmLoginText" class="small mm-btn" style="display:none;float:right"></div>
</div>
