<div class="bb-alert alert alert-warning" style="display: none;">
    <div  class="tac" style="font-size: 18px !important">Match-Anfrage</div>
    <div class="tac octopus-challenge-request-info"></div>
	<div class="tac challenge-action-btn">
		<button class="btn btn-primary challenge-request-accept">Annehmen</button>
    	<button class="btn btn-danger challenge-request-refuse">Ablehnen</button>
        <button  class="btn btn-success challenge-request-timer">90</button>
    </div>
</div>

<div class="clearfix" style="width:100%">
	<div id="mmStartside" class="small mm-btn" style="float:left">Startseite</div>
	<div id="mmDartscorer" class="small mm-btn" style="float:left">Dart-Scorer</div>
	<div id="mmCheckout" class="small mm-btn" style="float:left">Check-Out</div>

    <div id="mmImpressum" class="small mm-btn" style="float:right">Impressum</div>
	<div id="mmRegister" class="small mm-btn" style="float:right">Registrieren</div>
    <div id="mmLogout" class="small mm-btn" style="display:none;float:right">Abmelden</div>
    <div id="mmPlayerProfile" class="small mm-btn" style="display:none;float:right">Profil-Seite</div>
    <div id="mmLogin" class="small mm-btn" style="float:right">Anmelden</div>
    <div id="mmLoginText" class="small mm-btn" style="display:none;float:right"></div>
</div>
