<div style="font-size: 1.5em;">
    {{#if isLeft}}
		<i class="fa fa-globe"></i>
 		<i class="fa fa-heart"></i>
 		<i class="fa fa-pencil"></i>    
    	<i class="fa fa-arrow-circle-right"></i>
  {{else}}
		<i class="fa fa-arrow-circle-left"></i>
 		<i class="fa fa-pencil"></i>    		
 		<i class="fa fa-heart"></i> 		
		<i class="fa fa-globe"></i> 		
  {{/if}}
</div>