<div class="bb-alert alert alert-warning" style="display: none;">
    <span></span>
</div>

<div style="font-size: 1.5em;height:30px">
    {{#if isLeft}}

<div style="margin-top:-140px;float:left">
 <div class="wonLegs fz-5 fw-9"  style="line-height: 90px;">0</div>
 <div class="fz-2" style="margin-top: -10px;">Legs</div>
</div>
		<i class="c-p fa fa-globe text-primary" style="float:left"></i>
    	<i class="c-p switchPlayernames fa fa-arrow-circle-right text-success" style="float:right"></i>
		<i class="c-p activePlayer fa fa-bullseye text-success m-r-s" style="float:right"></i>
  {{else}}
		<i class="c-p switchPlayernames fa fa-arrow-circle-left text-success" style="float:left"></i>
		<i class="c-p activePlayer fa fa-bullseye text-success m-l-s" style="float:left"></i>
		<i class="c-p fa fa-globe text-primary" style="float:right"></i>

<div style="margin-top:-140px;float:right">
 <div class="wonLegs fz-5 fw-9" style="line-height: 90px;">0</div>
 <div class="fz-2" style="margin-top: -10px;">Legs</div>
</div>

  {{/if}}
</div>
