<div style="font-size: 1.5em;height:30px">
    {{#if isLeft}}

<div style="margin-top:-175px;float:left">
 <div class="wonLegs fz-5 fw-9">0</div>
 <div>Legs</div>
</div>    
		<i class="fa fa-globe text-primary" style="float:left"></i>
    	<i class="fa fa-arrow-circle-right text-success" style="float:right" title="Spielernamen tauschen"></i>
  {{else}}
		<i class="fa fa-arrow-circle-left text-success" style="float:left" title="Spielernamen tauschen"></i>

		<i class="fa fa-globe text-primary" style="float:right"></i>

<div style="margin-top:-175px;float:right">
 <div class="wonLegs fz-5 fw-9">0</div>
 <div>Legs</div>
</div>

  {{/if}}
</div>
