<div class="inputHelper"  style="display:none">
	<div class="inputHelperIn fz2" style="display:inline-flex">
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
		<div>7</div>
		<div>8</div>
		<div>9</div>
		<div>0</div>
        <div class="fa-top"><i class="fa fa-trash-o"></i></div>
        <div class="fa-top"><i class="fa fa-backward"></i></div>
        <div class="fa-top"><i id="btnEnter" title="Eingabe best&auml;tigen (Enter)" style="color: lightgreen; cursor: pointer" class="fa fa-check-circle"></i></div>
    </div>
</div>

<div id="octopus_score_text" style="text-align: center; color: white;">Score Eingabe
	<span id="secondInput" class="oo-btn" style="cursor:pointer">
		<i class="fa fa-calculator"></i>
	</span>
	<span id="btnCtrlZ" class="oo-btn" style="cursor:pointer">
		<i class="fa fa-step-backward"></i>
	</span>
</div>

<div style="padding: 5px 10px;">
	<input id="octopus_score_input" style="font-size: 35px; width: 96%;text-align:center;" maxlength="3" autofocus >
	<i id="btnEnter" title="Eingabe best&auml;tigen (Enter)" style="position: absolute; font-size: 25px; margin-left: -35px; line-height: 45px; color: lightgreen; cursor: pointer" class="fa fa-check-circle"></i>
</div>
<div class="confirmScoreButtons ooCheck">
	<div id="ooCheckText">Check<i class="m-l-vs fa fa-info-circle"></i></div>
	<span data-id="1." class="check oo_btn">1.</span>
	<span data-id="2." class="check oo_btn">2.</span>
	<span data-id="3." class="check oo_btn">3.</span>
</div>
<div class="confirmScoreButtons xxMiss">
	<div id="xxMissText">Miss<i class="m-l-vs fa fa-info-circle"></i></div>
	<span data-id="1" class="check xx_btn">1</span>
	<span data-id="2" class="check xx_btn">2</span>
	<span data-id="3" class="check xx_btn">3</span>
</div>
