<div id="octopus_score_text" style="text-align: center; color: white;">Score Eingabe
	<span id="btnStrZ" class="oo-btn" style="cursor:pointer">
		<i class="fa fa-step-backward check" style="position: absolute; color: white; background: gray none repeat scroll 0% 0%; margin-left: 30px; border-color: rgb(142, 173, 201); margin-top: -4px;"></i>
	</span>
</div>
<div style="padding: 5px 10px;">
	<input id="octopus_score_input" style="font-size: 35px; width: 96%;text-align:center;" maxlength="3" autofocus >
	<i id="btnEnter" title="Eingabe best&auml;tigen (Enter)" style="position: absolute; font-size: 25px; margin-left: -35px; line-height: 45px; color: lightgreen; cursor: pointer" class="fa fa-check-circle"></i>
</div>
<div class="confirmScoreButtons ooCheck">
	<div id="ooCheckText">Check<i class="m-l-vs fa fa-info-circle"></i></div>
	<span data-id="1." class="check oo_btn">1</span>
	<span data-id="2." class="check oo_btn">2</span>
	<span data-id="3." class="check oo_btn">3</span>
</div>
<div class="confirmScoreButtons xxMiss">
	<div id="xxMissText">Miss<i class="m-l-vs fa fa-info-circle"></i></div>
	<span data-id="1" class="check xx_btn">1</span>
	<span data-id="2" class="check xx_btn">2</span>
	<span data-id="3" class="check xx_btn">3</span>
</div>
