<div class="form-group">
	<div style="display:flex">
		<input class="form_membername form-control" placeholder="Name eines Teammitglieds"></input>
		{{#if name}}
		<div class="btn btn-default"><i class="fa fa-trash" style="font-size: 18px;"></i></div>	
		{{else}}
			<div class="btn btn-success"><i class="fa fa-user-plus" style="font-size: 18px;"></i></div>
		{{/if}}
	</div>
</div>

