<div style="display: flex;font-size:3vw; opacity:0.5">
	<div class="c-p btn btn-default" id="btnCreateTeam"><i style="font-size: 3vw;" class="fa fa-users"></i></div>
	<div class="c-p m-l btn btn-default" id="btnCreateEncounter"><i style="font-size: 3vw;" class="fa fa-trophy"></i></div>
	<div class="c-p m-l btn btn-default" id="btnAddMatch"><i style="font-size: 3vw;"class="fa fa-user-plus"></i></div>
</div>