<div id="octopus_board" style="margin:50px;padding-left:15px; padding-right:15px;background:transparent;border: 1px solid black;border-radius:5px">

	<div id="octopus_scoreContainer" style="z-index:999;background-color: transparent;">
		<div></div>
		<div id="octopus_score"></div>
		<div></div>
	</div>

	<div id="octopus_players" style="display: flex;">
		<div id="octopus_playerLeft" style="width:50%;height:100%"></div>
		<div id="octopus_playerRight" style="width:50%;height:100%"></div>
	</div>
</div>
