<div id="octopus_board" class="container" style="background:black">

	<div id="octopus_scoreContainer" style="z-index:999background-color: transparent;">
		<div></div>
		<div id="octopus_score"></div>
		<div></div>
	</div>
	
	<div id="octopus_players" style="display: flex;">
		<div id="octopus_playerLeft" style="background:yellow;width:50%;height:100%"></div>
		<div id="octopus_playerRight" style="background:red;width:50%;height:100%"></div>
	</div>
</div>