<div class="optional-flex">
	<div id="octopus_board"  class="optional-flex-w-70">

		<div class="well flex">
            <input title="Blau: das Spiel wird Live &uuml;bertragen" data-on-color="info" data-on-text="Live" data-off-text="Live" type="checkbox" name="checkboxTransmit" id="chkTransmit" class="btn btn-success" checked>
            <button id="btnNewMatch" type="button" class="m-l-vs btn btn-default">Neues Match</button>
		</div>

		<div id="octopus_scoreContainer" style="z-index:999;margin-top: -60px;">
			<div></div>
			<div id="octopus_score"></div>
			<div></div>
		</div>

		<div class="alert-danger" id="octopus_matchInfo" style="text-align:center">
			<span>Match l&auml;uft</span>
			<span class="m-l-vs match-result-quickInfo"></span>
			<i class="c-p m-l-vs fa fa-info-circle"></i>
			<i class="c-p m-l-vs fa fa-line-chart"></i>
		</div>


		<div id="octopus_players" class="flex">
			<div id="octopus_playerLeft" style="width:50%;height:100%"></div>
			<div id="octopus_playerRight" style="width:50%;height:100%"></div>
		</div>
	</div>

	<div id="octopus_boardInfo" class="optional-flex-w-30" style="padding-top: 10px;padding-left: 15px">
		<div id="octopus_boardPanel"></div>
        <div id="octopus_encounterPanel"></div>
	</div>
</div>
