    <div>
        <div class="clearfix" id="otopus-chat-body" style="height:300px;max-height:300px;overflow: auto"></div>
        <div>
			<div class="flex">
				<input type="text" class="form-control" maxlength="100" id="form__chat_message" placeholder="Text">
				<div class="btn-chat-message btn btn-default"><i class="fa fa-check-circle" style="font-size: 17px;"></i></div>
			</div>
        </div>
    </div>
