<div class="check-out-highscore not-small">
    <div class="fz-1">
        <a class="fz-2 c-p" style="width:145px;color: lightblue">Highscore</a>
        <div style="max-width:145px;" class="one-line check-out-highscore-player-name fz-15">Spielername</div>
        <div class="check-out-highscore-player fz-15" style="font-weight: bold;">-</div>
    </div>
    <div class="fz-1">
        <div style="color: lightblue">Mein Rekord</div>
        <div class="check-out-my-record">-</div>
    </div>
</div>

<div class="tac fz-1">
	<button class="btn btn-default">
    	<div>Anzahl</div>
        <div  class="check-count">0</div>
    </button>
    <button class="btn btn-default">
        <div>Zeit</div>
        <div class="check-time">0</div>
    </button>
    <button class="btn btn-default">
        <div>Score</div>
        <div class="check-points">0</div>
    </button>
    <button class="btn btn-default">
        <div>Level</div>
        <div class="check-level">1</div>
    </button>
</div>

<div class="tac" style="margin-top:10px;z-index:999;">
	<button class="btn btn-success" style="font-size:2rem  !important;font-size:2vw !important">START</button>
    <button class="btn btn-warning" style="font-size:2rem  !important;font-size:2vw !important"
    >CHECK</button>
</div>

    <div class="tac" style="margin-top:10px;margin-bottom:10px;position: fixed;
  width: 100%;z-index:999;">
        <button class="btn btn-primary check-out-result" disabled="true">-</button>
        <button class="btn btn-primary check-out-result" disabled="true">-</button>
        <button class="btn btn-primary check-out-result" disabled="true">-</button>
    </div>

<div style="background-color: beige;margin-top: 80px;">
    <div class="tac fz-5 check-out-value">-</div>
</div>

<div class="tac fz-15 check-info-and-points" style="display:none">
    <button class="btn btn-primary" disabled="true"></button>
</div>

<div class="tac m-t clearfix">
    <div class="check-out-box" data-uid="1">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">1</div>
   </div>
    <div class="check-out-box" data-uid="2">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">2</div>
   </div>
	<div class="check-out-box" data-uid="3">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">3</div>
   </div>
        <div class="check-out-box" data-uid="4">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">4</div>
   </div>
        <div class="check-out-box" data-uid="5">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">5</div>
   </div>
        <div class="check-out-box" data-uid="6">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">6</div>
   </div>
        <div class="check-out-box" data-uid="7">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">7</div>
   </div>
        <div class="check-out-box" data-uid="8">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">8</div>
   </div>
        <div class="check-out-box" data-uid="9">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">9</div>
   </div>
        <div class="check-out-box" data-uid="10">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">10</div>
   </div>
        <div class="check-out-box" data-uid="11">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">11</div>
   </div>
        <div class="check-out-box" data-uid="12">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">12</div>
   </div>
        <div class="check-out-box" data-uid="13">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">13</div>
   </div>
        <div class="check-out-box" data-uid="14">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">14</div>
   </div>
        <div class="check-out-box" data-uid="15">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">15</div>
   </div>
        <div class="check-out-box" data-uid="16">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">16</div>
   </div>
        <div class="check-out-box" data-uid="17">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">17</div>
   </div>
        <div class="check-out-box" data-uid="18">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">18</div>
   </div>
        <div class="check-out-box" data-uid="19">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">19</div>
   </div>
        <div class="check-out-box" data-uid="20">
        <div><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">T</span><span class="btn btn-default check-out-btn" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">20</div>
   </div>
        <div class="check-out-box" data-uid="25">
        <div><span class="btn btn-default check-out-btn single-d" style="font-size:1.5rem !important;font-size:1.5vw !important;">D</span></div>
        <div class="btn btn-link check-out-btn" style="width:100%;font-weight:bold;">25</div>
   </div>
</div>

<div class="tac" style="padding:3rem;padding:3vw;z-index:999;">
    <button class="btn btn-success" style="font-size:2rem  !important;font-size:2vw !important">START</button>

    <button class="btn btn-warning" style="font-size:2rem  !important;font-size:2vw !important">CHECK</button>
</div>
