<div class="tac fz-1">
	<button class="btn btn-default">
    	<div>Anzahl</div>
        <div  class="check-count">0</div>
    </button>
    <button class="btn btn-default">
        <div>Zeit</div>
        <div class="check-time">0</div>
    </button>
    <button class="btn btn-default">
        <div>Punkte</div>
        <div class="check-points">0</div>
    </button>
    <button class="btn btn-default">
        <div>Level</div>
        <div class="check-level">1</div>
    </button>
</div>
<div class="tac" style="padding:3rem;padding:3vw;">
	<button class="btn btn-success" style="font-size:2rem  !important;font-size:2vw !important">START</button>
    <button class="btn btn-warning" style="font-size:2rem  !important;font-size:2vw !important">CHECK</button>
</div>

<div class="tac fz-15 check-info-and-points" style="display:none">
    <button class="btn btn-primary" disabled="true"></button>
</div>

<div class="tac">
    <div class="fz-5 check-out-value" style="background-color: beige">-</div>
</div>

<div class="bar" style="height:2rem;"></div>

<div class="tac">
	<button class="btn btn-default check-out-btn">T</button>
    <button class="btn btn-default check-out-btn">D</button>
</div>

<div class="bar" style="height:2rem;"></div>

<div class="tac">
    <button class="btn btn-default check-out-btn">1</button>
    <button class="btn btn-default check-out-btn">2</button>
    <button class="btn btn-default check-out-btn">3</button>
    <button class="btn btn-default check-out-btn">4</button>
    <button class="btn btn-default check-out-btn">5</button>
    <button class="btn btn-default check-out-btn">6</button>
    <button class="btn btn-default check-out-btn">7</button>
    <button class="btn btn-default check-out-btn">8</button>
    <button class="btn btn-default check-out-btn">9</button>
    <button class="btn btn-default check-out-btn">10</button>
    <button class="btn btn-default check-out-btn">11</button>
    <button class="btn btn-default check-out-btn">12</button>
    <button class="btn btn-default check-out-btn">13</button>
    <button class="btn btn-default check-out-btn">14</button>
    <button class="btn btn-default check-out-btn">15</button>
    <button class="btn btn-default check-out-btn">16</button>
    <button class="btn btn-default check-out-btn">17</button>
    <button class="btn btn-default check-out-btn">18</button>
    <button class="btn btn-default check-out-btn">19</button>
    <button class="btn btn-default check-out-btn">20</button>
    <button class="btn btn-default check-out-btn">25</button>
</div>

<div class="tac m-t-vb">
    <div class="btn btn-primary check-out-result" disabled="true">-</div>
    <div class="btn btn-primary check-out-result" disabled="true">-</div>
    <div class="btn btn-primary check-out-result" disabled="true">-</div>
</div>

<div>
    <div></div>
</div>

