<div class="well">
	<button class="btn btn-success octopus_computer_opponoment_start">Starte Spiel</button>
    <button class="btn btn-default octopus_computer_opponoment_close">Schließen</button>
</div>

<div class="well">
    <div class="radio radio-primary">
        <input type="radio" name="radio2" id="radio3" value="option1">
        <label for="radio3">
            Profi
        </label>
    </div>
    <div class="radio radio-primary">
        <input type="radio" name="radio2" id="radio4" value="option2" >
        <label for="radio4">
            Ligaspieler (1)
        </label>
    </div>
    <div class="radio radio-primary">
        <input type="radio" name="radio2" id="radio5" value="option3" checked>
        <label for="radio5">
            Ligaspieler (2)
        </label>
    </div>
    <div class="radio radio-primary">
        <input type="radio" name="radio2" id="radio6" value="option4" >
        <label for="radio6">
            Ligaspieler (3)
        </label>
    </div>
    <div class="radio radio-primary">
        <input type="radio" name="radio2" id="radio7" value="option5" >
        <label for="radio7">
            Passt sich an
        </label>
    </div>
    <div class="radio radio-primary">
        <input type="radio" name="radio2" id="radio8" value="option6" >
        <label for="radio8">
            Turnier (Best of 3)
        </label>
    </div>
    <div class="radio radio-primary">
        <input type="radio" name="radio2" id="radio9" value="option6" >
        <label for="radio9">
            Turnier (Best of 5)
        </label>
    </div>
</div>

