<div style="margin-top: 20px;margin-bottom: 15px;margin-left: 25px;">
    <button class="btn btn-default octopus_computer_opponoment_close">Schließen</button>
    <button class="btn btn-default octopus_computer_opponoment_analyse">Analyse</button>
</div>

<div class="m-l-s">
    <div data-id="1" class="compo no1 clearfix">
		<img width="64px" class="img-circle">
        <div class="compo-header">
            Profi
        </div>
        <div>
            <i>...Average um 90, checkt schnell</i>
        </div>
        <div class="btn-div">
            <button class="btn btn-success octopus_computer_opponoment_start">Starte Spiel</button>
        </div>
    </div>
    <div class="compo no2 clearfix">
        <img width="64px" class="img-circle">
        <div class="compo-header">
            Ligaspieler (1)
        </div>
        <div>
            <i>...Average um 80, checkt schnell</i>
        </div>
        <div class="btn-div">
            <button class="btn btn-success octopus_computer_opponoment_start">Starte Spiel</button>
        </div>
    </div>
    <div class="compo no3 clearfix sel">
        <img width="64px" class="img-circle">
        <div class="compo-header">
            Ligaspieler (2)
        </div>
        <div>
            <i>...Average um 60, checkt meistens schnell</i>
        </div>
		<div class="btn-div">
        	<button class="btn btn-success octopus_computer_opponoment_start">Starte Spiel</button>
        </div>
    </div>
    <div class="compo no4 clearfix">
        <img width="64px" class="img-circle">
        <div class="compo-header">
            Ligaspieler (3)
        </div>
        <div>
            <i>...Average um 50, check ok</i>
        </div>
        <div class="btn-div">
            <button class="btn btn-success octopus_computer_opponoment_start">Starte Spiel</button>
        </div>
    </div>
    <div class="compo no5 clearfix">
        <img width="64px" class="img-circle">
        <div class="compo-header">
            Anfänger
        </div>
        <div>
            <i>...Average um 40, Wundert&uuml;te beim check</i>
        </div>
        <div class="btn-div">
            <button class="btn btn-success octopus_computer_opponoment_start">Starte Spiel</button>
        </div>
    </div>
    <div class="compo no6 clearfix">
        <img width="64px" class="img-circle">
        <div class="compo-header">
            Passt sich an
        </div>
        <div>
            <i>...spielt einen &auml;hnlichen Score</i>
        </div>
        <div class="btn-div">
            <button class="btn btn-success octopus_computer_opponoment_start">Starte Spiel</button>
        </div>
    </div>
    <!--div class="radio radio-primary">
        <input type="radio" name="radio2" id="radio9" value="option7" >
        <div for="radio9">
            Turnier (Best of 3)
        </div>
    </div>
    <div class="radio radio-primary">
        <input type="radio" name="radio2" id="radio10" value="option8" >
        <div for="radio10">
            Turnier (Best of 5)
        </div>
    </div-->
</div>

