<div class="tac" style="margin:15px">
	<button class="btn btn-primary" id="start-comp-analysis">Computer Gegner Average</button>
	<button class="btn btn-warning" id="start-comp-analysis-check">Computer Gegner Check</button>
</div>

<div id="comp-analyse-here">

</div>