<div class="form-group" style="height: 125px;">
	<div class="octopus_player_avatar" style="float:left;margin:15px;min-height: 140px;height: 140px;width:140px;border: 1px solid gray;border-radius: 100px;">
		<img width="140" height="140" id="octopus_selected_player_imageFile" style="max-height:100%; max-width:100%;" src="images/avatar.png" class="img-circle" alt="player avatar"></img>
	</div>
    <div class="fileUpload btn btn-info" style="top: 60px;float: right;">
        <span>Bild ausw&auml;hlen</span>
        <input id="octopus_player_imageFile" type="file" class="upload" />
    </div>
</div>
