{{#if isEncounter}}
	<div class="m-t alert alert-info" style="text-align: center;">

    	<div>
			<span class="c-p btn-dublicate-encouter-match btn-default border-5" style="padding: 3px 8px;float:right;opacity:0.6">
				<i class="fa  fa-plus"></i>
			</span>
        </div>

		<div>
			<span>{{home.name}}</span>
			<span class="m-l m-r">vs.</span>
			<span>{{guest.name}}</span>
		</div>

		<div>
			<strong>
				<span class="directEdit">{{home.matchesWon}}</span>
				<span class="m-l m-r">:</span>
				<span class="directEdit">{{guest.matchesWon}}</span>
			</strong>
		</div>

	</div>
{{/if}}

<div id="octopus_activeEncounterMatches" style="overflow:auto"></div>
