{{#if isEncounter}}
	<div class="m-t alert alert-info" style="text-align: center;">

		<div>
			<span class="directEdit">{{home.name}}</span>
			<span class="m-l m-r">vs.</span>
			<span class="directEdit">{{guest.name}}</span>
		</div>

		<div>
			<strong>
				<span class="directEdit">{{home.matchesWon}}</span>
				<span class="m-l m-r">:</span>
				<span class="directEdit">{{guest.matchesWon}}</span>
			</strong>
		</div>

	</div>
{{/if}}

<div id="octopus_activeEncounterMatches"></div>
