<div class="container-fluid">

	<div style="display: flex;">
		<img src="images/spectre_octopus.png"></img>

		<div class="m-t-b">
			<h2>Octopus<small><i> - dartmonster's dart side of life</i></small></h2>
		</div>
	</div>

	<div class="well" style="display: flex;">
		<button id="btnStartNewGame" type="button" class="btn btn-success" title="Game On! Good Darts...">Dart-Scorer</button>
		<button id="btnCheckOutBattle" type="button" class="m-l btn btn-default">Check-Out Battle</button>
		<button id="btnLoginPlayer" type="button" class="m-l btn btn-default">Anmelden</button>
		<button id="btnRegisterPlayer" type="button" class="m-l btn btn-default">Registrieren</button>
	</div>

	<div class="well optional-flex">
		<div class="optional-flex-w-50 container">
			<div class="panel-group">
				<h2>Spiele</h2>
		    	<div class="panel panel-success">
		      		<div class="panel-heading">Live</div>
		      		<div class="panel-body mm-h-200">
		      			<div id="panelEncounterLiveRegion"></div>
		      		</div>
		    	</div>
		    	<div class="panel panel-info">
		      		<div class="panel-heading">Beendet</div>
		      		<div class="panel-body mm-h-200">
		      			<div id="panelEncounterDoneRegion"></div>
		      		</div>
		    	</div>
		    </div>
	    </div>

		<div class="optional-flex-w-50 container">
		    <div class="panel-group">
				<h2>Spieler</h2>
		    	<div class="panel panel-success">
		      		<div class="panel-heading">Online</div>
		      		<div class="panel-body mm-h-200">
		      			<div id="panelPlayerOnlineRegion"></div>
		      		</div>
		    	</div>
		    	<div class="panel panel-info">
		      		<div class="panel-heading">Registriert</div>
		      		<div class="panel-body mm-h-200">
		      			<div id="panelPlayerRegisteredRegion"></div>
		      		</div>
		    	</div>
		    </div>
	    </div>

    </div>
</div>
