<div class="container-fluid">

	<div class="flex" style="padding: 19px;">
		<img style="height: 5rem;height: 5vw;"  src="images/spectre_octopus.png"></img>

		<div class="m-l-s">
			<h2>Octopus<small><i> - dartmonster's dart side of life</i></small></h2>
		</div>
	</div>

	<div class="well" style="display: flex;">
		<button id="btnStartNewGame" type="button" class="btn btn-success" title="Game On! Good Darts...">Dart-Scorer</button>
		<button id="btnCheckOutBattle" type="button" class="m-l btn btn-default">Check-Out Battle</button>
		<button id="btnLoginPlayer" type="button" class="m-l btn btn-default">Anmelden</button>
        <button id="btnPlayerProfile" style="display:none" type="button" class="m-l btn btn-default">Profil-Seite</button>
		<button id="btnRegisterPlayer" type="button" class="m-l btn btn-default">Registrieren</button>
	</div>

		<div class="well">
			<h2><a id="octopus__link_open_encounters" href="javascript:;">Spiele</a></h2>
			<div class="panel panel-success">
				<div class="panel-heading">Live</div>
				<div class="panel-body mm-h-400">
					<div id="panelEncounterLiveRegion"></div>
				</div>
			</div>
	    </div>

		<div class="well">
			<h2>Spieler</h2>
			<div class="optional-flex">
				<div class="panel panel-success optional-flex-w-50">
					<div class="panel-heading">Online</div>
					<div class="panel-body mm-h-400">
						<div id="panelPlayerOnlineRegion"></div>
					</div>
				</div>
				<div class="panel panel-info optional-flex-w-50" style="width:50%">
					<div class="panel-heading">Registriert</div>
					<div class="panel-body mm-h-200">
						<div id="panelPlayerRegisteredRegion"></div>
					</div>
				</div>
			</div>
		</div>

</div>
