<div class="container-fluid">
	
	<div style="display: flex;">
		<img src="images/spectre_octopus.png"></img>

		<div class="m-t-b">
			<h2>Octopus<small><i> - dartmonster's dart side of life</i></small></h2>
		</div>
	</div>

	<div class="well" style="display: flex;">
		<button id="btnStartNewGame" type="button" class="btn btn-success">Starte Neues Spiel</button>
		<button id="btnLoginPlayer" type="button" class="m-l btn btn-success">Anmelden</button>
		<button id="btnRegisterPlayer" type="button" class="m-l btn btn-success">Registrieren</button>
	</div>

	<div class="well" style="display:flex;">
		<div class="container">
			<div class="panel-group">
				<h2>Spiele</h2>
		    	<div class="panel panel-success">
		      		<div class="panel-heading">Live</div>
		      		<div class="panel-body">
		      			<div id="panelEncounterLiveRegion"></div>
		      		</div>
		    	</div>
		    	<div class="panel panel-info">
		      		<div class="panel-heading">Beendet</div>
		      		<div class="panel-body">
		      			<div id="panelEncounterDoneRegion"></div>
		      		</div>
		    	</div>
		    </div>
	    </div>

		<div class="container">
		    <div class="panel-group">
				<h2>Spieler</h2>
		    	<div class="panel panel-success">
		      		<div class="panel-heading">Online</div>
		      		<div class="panel-body">
		      			<div id="panelPlayerOnlineRegion"></div>
		      		</div>
		    	</div>
		    	<div class="panel panel-info">
		      		<div class="panel-heading">Registriert</div>
		      		<div class="panel-body">
		      			<div id="panelPlayerRegisteredRegion"></div>
		      		</div>
		    	</div>
		    </div>
	    </div>
  
    </div>
</div>