<div style="padding-left:2rem; padding-right:2rem;padding-left:2vw; padding-right:2vw">
	<div class="h3 btn-success" style="text-align:center">LIVE</div>
	<div class="flex">
    	<div class="infoBoard-p-left" style="width:50%"></div>
    	<div class="infoBoard-p-right" style="width:50%"></div>
    </div>
</div>
