<div style="margin-top: 20px;margin-bottom: 15px;margin-left: 25px;">
    <button class="btn btn-default octopus_computer_opponoment_close">Schließen</button>
</div>

<div class="m-l">

    <div class="panel panel-default" style="margin-right:5px">
        <div class="panel-heading">Video-Chat starten</div>
        <div class="panel-body mm-h-300">
			<div>Bei Online-Matches eine Video Konferenz starten:</div>
            <a href="https://vline.com/">Free, simple video chat</a>
            <br>
            <a href="https://plus.google.com/hangouts">Google Hangout</a>
        </div>
    </div>

    <div class="panel panel-default" style="margin-right:5px">
        <div class="panel-heading">Private Chat</div>
        <div class="panel-body mm-h-300">
            <div id="panelPrivateChat"></div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-right:5px">
        <div class="panel-heading">Online</div>
        <div class="panel-body mm-h-600">
            <div id="panelPlayerOnlineRegion"></div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-right:5px">
        <div class="panel-heading">Chat</div>
        <div class="panel-body mm-h-600">
            <div id="panelAllPlayersChats"></div>
        </div>
    </div>

</div>

