<div style="margin-top: 20px;margin-bottom: 15px;margin-left: 25px;">
    <button class="btn btn-default octopus_computer_opponoment_close">Schließen</button>
</div>

<div class="m-l">

    <div class="panel panel-default" style="margin-right:5px">
        <div class="panel-heading">Online</div>
        <div class="panel-body mm-h-600">
            <div id="panelPlayerOnlineRegion"></div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-right:5px">
        <div class="panel-heading">Chat</div>
        <div class="panel-body mm-h-600">
            <div id="panelAllPlayersChats"></div>
        </div>
    </div>

</div>

