<div class="well" {{#if isLeft}}style="margin-right:10px"{{else}}style="margin-left:10px"{{/if}}>
	<div class="octopus_playerMenu"></div>
	<div class="octopus_playerName"></div>
	<div class="octopus_playerScores"></div>
</div>
