<div style="min-height: 140px;height: 140px;width:140px;border: 1px solid gray;border-radius: 100px;">
    <img style="max-height:100%; max-width:100%;" src="images/avatar.png" class="img-circle" alt="player avatar"></img>
</div>
